html,body { 
    height: 100%; margin: 0px; padding: 0px; 
}

.main-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.content-left{
    background-color: bisque;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.content-right{
    background-image: url("./recipe-img/bg-image.png");
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chef-profile{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
}

.chef-info{
    width: 50%;

}
