html,body { 
    height: 100%; margin: 0px; padding: 0px; 
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    
    .left-container {
        background-color: bisque;
        display: flex;
        width: 40%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
  
    .right-container {
        background-image: url("../assets/images/bg-image.png");
        display: flex;
        width: 60%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
  
    .chef-profile {
        display: flex;
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
    }
  
    .chef-info{ 
        width: 50%;
    
    }

    ul {
        list-style: none;
    }
  
    a:link, a:visited {
        color: rgb(134, 133, 39);
    }
    
    a:hover {
        color: rgb(173, 71, 40);
    }
  
    li {
        margin: 10px 0;
    }
}


